# Disciplina: Tópicos em Inteligência Computacional
Instituto Federal do Norte de Minas Gerais Campus Montes Claros <br/>
Curso: Ciência da Computação <br/>
Professora: Luciana Balieiro Cosme<br/>
Equipe: Marianna Leandra, Nayara Thaiza <br/>
**Trabalho Final: Exploração da base de dados do IMDB** <br/>
Base de dados: https://datasets.imdbws.com/ <br/>
Ultima atualização da base usada: 20/11/2018 <br/>
**Objetivo: Analisar os filmes do IMDB com mais avalaiações quanto ao gênero preferido** <br/>

**Base 1: Títulos** <br/>
tconst: id do título <br/>
titleType:o tipo / formato do título (por exemplo, filme, short, tvseries, tvepisode, video, etc) <br/>
primaryTitle - o título mais popular / o título usado pelos cineastas em materiais promocionais no momento do lançamento <br/>
originalTitle - título original, no idioma original <br/>
isAdult (booleano) - 0: título não adulto; 1: título adulto <br/>
startYear (YYYY) - representa o ano de lançamento de um título. No caso da série de TV, é o ano de início da série <br/>
endYear (YYYY) - ano final da série de TV. "\ N" para todos os outros tipos de título <br/>
runtimeMinutes - tempo de execução principal do título, em minutos <br/>
genres - inclui até três gêneros associados ao título <br/>

In [1]:
import pandas
import matplotlib.pyplot as plt
#importando base 1
imdbTitulos = pandas.read_csv("titleBasics.tsv", sep='\t',dtype= { "tconst": str,
                                                                'titleType': str,
                                                                'primaryTitle': str,
                                                                'originalTitle': str,
                                                                'isAdult': str,
                                                                'startYear': str,
                                                                'endYear': str,
                                                                'runtimeMinutes': str,
                                                                'genres': str})
imdbTitulos.shape

(5419681, 9)

**Base 2: Notas dos Títulos** <br/>
averageRating - média ponderada de todas as classificações individuais de usuários <br/>
numVotes - número de votos que o título recebeu <br/>

In [2]:
#importando base 2
imdbNotas=pandas.read_csv("titleRatings.tsv", sep='\t',dtype={
    "tconst": str, 
    'averageRating': str,
    'numVotes': str})


imdbNotas.shape

(887588, 3)

In [3]:
imdbTitulos.columns[0:9]

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [4]:
imdbNotas.columns[0:3]

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [5]:
tabela = pandas.DataFrame(imdbTitulos, columns=['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'])
#tabela.head(10)

In [6]:
#seleciona os filmes

tabela=tabela.loc[(tabela['titleType'].notnull())]
filmes = tabela[tabela['titleType']=='movie']
#filmes.describe()

In [7]:
#manipulando as notas
notas = pandas.DataFrame(imdbNotas, columns=['tconst', 'averageRating', 'numVotes'])
notas.head(10)

      tconst averageRating numVotes
0  tt0000001           5.8     1437
1  tt0000002           6.3      171
2  tt0000003           6.6     1037
3  tt0000004           6.4      102
4  tt0000005           6.2     1734
5  tt0000006           5.5       91
6  tt0000007           5.5      579
7  tt0000008           5.6     1539
8  tt0000009           5.5       73
9  tt0000010           6.9     5125

In [8]:
#convertendo de texto para numeros
notas['averageRating'] = pandas.to_numeric(notas['averageRating'])
notas['numVotes'] = pandas.to_numeric(notas['numVotes'])

#notas.describe()

In [9]:
#titulos com mais de 500 mil votos
titulosFiltro = notas[notas['numVotes'] > 500000],['tconst','averageRating']
#titulosFiltro
#titulosFiltro[0]['tconst']

In [10]:
#pegando só os ids dos títulos
coluna = titulosFiltro[0]['tconst']
#len(coluna)

In [11]:
#encontra todos os matches entre as duas listas (interseção)
#vai filtrar os filmes dentre todos os títulos com mais de 500 mil votos
idFilmes = set(coluna) & set(filmes['tconst'])
#idFilmes
#print('Quantidade de matches: ', len(idFilmes))

In [12]:
#Convertendo set em lista
idFilmesList = list(idFilmes)
#len(idFilmesList)
genero = 0

**Conclusão final** <br/>
Dentre 5419681 títulos, 503265 são filmes, totalizando aproximadamente 9% da base. <br/>
Do total de filmes, somente 175 possuem mais de 500 mil votos, totalizando menos de 0,5%. <br/>
Destes 175, somente 2 filmes possuem nota acima de 9, The Godfather (1972), conhecido no Brasil como O poderoso chefão e The Shawshank Redemption (1994), entitulado com Um sonho de liberdade em português, com notas 9.2(1382225 votos) e 9.3(2017298 votos), respectivamente. Ambos os filmes possuiam Drama como gênero (The godfather também tem como gênero Crime). <br/>
Em análise final, é possível perceber (graficamente) que os gêneros que prevaleceram nas avalições foram: Ação e Drama, seguidos de Sci-Fi, Thriller, Adventure, Crime e Fantasy.

In [13]:
import tkinter as tk
from tkinter import messagebox

root = tk.Tk()

v = tk.IntVar()
v.set(1)  # initializing the choice, i.e. Python

languages = [
    ('Action', 1), ('Animation', 2), 
    ('Adventure',3), ('Family',4), ('Biography',5), 
    ('Romance',6), ('Crime',7), ('Horror',8), 
    ('Comedy',9), ('Music',10), ('Drama',11),
          ('Sport',12), ('Fantasy',13), 
    ('Mystery',14), ('History',15), ('Sci-Fi',16), 
    ('War', 17), ('Thriller',18),  ('Western',19)
]

def fechar():
    root.destroy()
    
    

def ShowChoice():
    tk.Label(root, 
         text="""Obrigado pela escolha, clique em prosseguir!""",
         justify = tk.LEFT,
         padx = 20).pack()
    

tk.Label(root, 
         text="""Escolha seu gênero favorito:""",
         justify = tk.LEFT,
         padx = 20).pack()

for val, language in enumerate(languages):
    tk.Radiobutton(root, 
                  text=language,
                  padx = 20,
                  variable=v, 
                  command= ShowChoice,
                  value=val).pack(anchor=tk.W)



tk.Button(root, text = "Prosseguir",justify = tk.LEFT,
         padx = 20, command = fechar).pack()

root.mainloop()

genero = v.get()+1
#str(genero)
print(genero)

11

In [14]:
vetorNomes = []
i=0
while i < len(idFilmesList):
    filme = filmes[filmes['tconst'] == idFilmesList[i]]
    gen = filmes[filmes['tconst'] == idFilmesList[i]]['genres'].apply(lambda x: x.split(','))
    if genero == 1:
        c1=gen.values[0][0]
        if c1  == 'Action':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Action':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Action':
                vetorNomes.append(filme)
    elif genero == 2:

        c1=gen.values[0][0]
        if c1  == 'Animation':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Animation':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Animation':
                vetorNomes.append(filme)
    elif genero == 3:

        c1=gen.values[0][0]
        if c1  == 'Adventure':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Adventure':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Adventure':
                vetorNomes.append(filme)
    elif genero == 4:

        c1=gen.values[0][0]
        if c1  == 'Family':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Family':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Family':
                vetorNomes.append(filme)
    elif genero == 5:

        c1=gen.values[0][0]
        if c1  == 'Biography':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Biography':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Biography':
                vetorNomes.append(filme)
    elif genero == 6:

        c1=gen.values[0][0]
        if c1  == 'Romance':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Romance':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Romance':
                vetorNomes.append(filme)
    elif genero == 7:

        c1=gen.values[0][0]
        if c1  == 'Crime':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Crime':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Crime':
                vetorNomes.append(filme)
    elif genero == 8:

        c1=gen.values[0][0]
        if c1  == 'Horror':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Horror':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Horror':
                vetorNomes.append(filme)
    elif genero == 9:

        c1=gen.values[0][0]
        if c1  == 'Comedy':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Comedy':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Comedy':
                vetorNomes.append(filme)
    elif genero == 10:

        c1=gen.values[0][0]
        if c1  == 'Music':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Music':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Music':
                vetorNomes.append(filme)
    elif genero == 11:

        c1=gen.values[0][0]
        if c1  == 'Drama':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Drama':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Drama':
                vetorNomes.append(filme)
    elif genero == 12:

        c1=gen.values[0][0]
        if c1  == 'Sport':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Sport':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Sport':
                vetorNomes.append(filme)
    elif genero == 13:

        c1=gen.values[0][0]
        if c1  == 'Fantasy':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Fantasy':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Fantasy':
                vetorNomes.append(filme)
    elif genero == 14:

        c1=gen.values[0][0]
        if c1  == 'Mystery':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Mystery':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Mystery':
                vetorNomes.append(filme)
    elif genero == 15:

        c1=gen.values[0][0]
        if c1  == 'History':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'History':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'History':
                vetorNomes.append(filme)
    elif genero == 16:

        c1=gen.values[0][0]
        if c1  == 'Sci-Fi':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Sci-Fi':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Sci-Fi':
                vetorNomes.append(filme)
    elif genero == 17:

        c1=gen.values[0][0]
        if c1  == 'War':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'War':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'War':
                vetorNomes.append(filme)
    elif genero == 18:

        c1=gen.values[0][0]
        if c1  == 'Thriller':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Thriller':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Thriller':
                vetorNomes.append(filme)
    elif genero == 19:

        c1=gen.values[0][0]
        if c1  == 'Western':
            vetorNomes.append(filme)
        elif len(gen.values[0]) == 2:
            c2=gen.values[0][1]
            if c2  == 'Western':
                vetorNomes.append(filme)
        elif len(gen.values[0]) == 3:
            c3=c1=gen.values[0][2]
            if c3  == 'Western':
                vetorNomes.append(filme)      
    i=i+1

In [15]:
print(vetorNomes)
j= 0
while j < len(vetorNomes):
    print(vetorNomes[j]['primaryTitle'].values)
    j = j+1

[           tconst titleType   primaryTitle  originalTitle isAdult startYear  \
107989  tt0110357     movie  The Lion King  The Lion King       0      1994

       endYear runtimeMinutes                     genres
107989      \N             88  Adventure,Animation,Drama  ,             tconst titleType      primaryTitle     originalTitle isAdult  \
1788794  tt1853728     movie  Django Unchained  Django Unchained       0

        startYear endYear runtimeMinutes         genres
1788794      2012      \N            165  Drama,Western  ,            tconst titleType primaryTitle originalTitle isAdult startYear  \
919077  tt0947798     movie   Black Swan    Black Swan       0      2010

       endYear runtimeMinutes          genres
919077      \N            108  Drama,Thriller  ,            tconst titleType  primaryTitle originalTitle isAdult startYear  \
107472  tt0109830     movie  Forrest Gump  Forrest Gump       0      1994

       endYear runtimeMinutes         genres
107472      \N            142  Drama,Romance  ,            tconst titleType  primaryTitle originalTitle isAdult startYear  \
108536  tt0110912     movie  Pulp Fiction  Pulp Fiction       0      1994

       endYear runtimeMinutes       genres
108536      \N            154  Crime,Drama  ,             tconst titleType      primaryTitle originalTitle isAdult  \
1618581  tt1675434     movie  The Intouchables  Intouchables       0

        startYear endYear runtimeMinutes                  genres
1618581      2011      \N            112  Biography,Comedy,Drama  ,           tconst titleType primaryTitle originalTitle isAdult startYear  \
97528  tt0099685     movie   Goodfellas    Goodfellas       0      1990

      endYear runtimeMinutes       genres
97528      \N            146  Crime,Drama  ,            tconst titleType         primaryTitle        originalTitle isAdult  \
389129  tt0405159     movie  Million Dollar Baby  Million Dollar Baby       0

       startYear endYear runtimeMinutes       genres
389129      2004      \N            132  Drama,Sport  ,           tconst titleType            primaryTitle           originalTitle  \
70130  tt0071562     movie  The Godfather: Part II  The Godfather: Part II

      isAdult startYear endYear runtimeMinutes       genres
70130       0      1974      \N            202  Crime,Drama  ,            tconst titleType         primaryTitle        originalTitle isAdult  \
118047  tt0120815     movie  Saving Private Ryan  Saving Private Ryan       0

       startYear endYear runtimeMinutes     genres
118047      1998      \N            169  Drama,War  ,            tconst titleType       primaryTitle      originalTitle isAdult  \
116565  tt0119217     movie  Good Will Hunting  Good Will Hunting       0

       startYear endYear runtimeMinutes         genres
116565      1997      \N            126  Drama,Romance  ,            tconst titleType                         primaryTitle  \
405257  tt0421715     movie  The Curious Case of Benjamin Button

                              originalTitle isAdult startYear endYear  \
405257  The Curious Case of Benjamin Button       0      2008      \N

       runtimeMinutes                 genres
405257            166  Drama,Fantasy,Romance  ,             tconst titleType primaryTitle originalTitle isAdult startYear  \
1405416  tt1454468     movie      Gravity       Gravity       0      2013

        endYear runtimeMinutes                 genres
1405416      \N             91  Drama,Sci-Fi,Thriller  ,           tconst titleType                     primaryTitle  \
72004  tt0073486     movie  One Flew Over the Cuckoo's Nest

                         originalTitle isAdult startYear endYear  \
72004  One Flew Over the Cuckoo's Nest       0      1975      \N

      runtimeMinutes genres
72004            133  Drama  ,           tconst titleType   primaryTitle  originalTitle isAdult startYear  \
67307  tt0068646     movie  The Godfather  The Godfather       0      1972

      endYear runtimeMinutes       genres
67307      \N            175  Crime,Drama  ,            tconst titleType                                   primaryTitle  \
161862  tt0167260     movie  The Lord of the Rings: The Return of the King

                                        originalTitle isAdult startYear  \
161862  The Lord of the Rings: The Return of the King       0      2003

       endYear runtimeMinutes                  genres
161862      \N            201  Action,Adventure,Drama  ,           tconst titleType primaryTitle originalTitle isAdult startYear  \
73779  tt0075314     movie  Taxi Driver   Taxi Driver       0      1976

      endYear runtimeMinutes       genres
73779      \N            114  Crime,Drama  ,            tconst titleType      primaryTitle     originalTitle isAdult  \
258017  tt0268978     movie  A Beautiful Mind  A Beautiful Mind       0

       startYear endYear runtimeMinutes           genres
258017      2001      \N            135  Biography,Drama  ,            tconst titleType     primaryTitle    originalTitle isAdult  \
161995  tt0167404     movie  The Sixth Sense  The Sixth Sense       0

       startYear endYear runtimeMinutes                  genres
161995      1999      \N            107  Drama,Mystery,Thriller  ,            tconst titleType         primaryTitle        originalTitle isAdult  \
174002  tt0180093     movie  Requiem for a Dream  Requiem for a Dream       0

       startYear endYear runtimeMinutes genres
174002      2000      \N            102  Drama  ,            tconst titleType primaryTitle originalTitle isAdult startYear  \
757127  tt0780504     movie        Drive         Drive       0      2011

       endYear runtimeMinutes       genres
757127      \N            100  Crime,Drama  ,           tconst titleType  primaryTitle originalTitle isAdult startYear  \
49210  tt0050083     movie  12 Angry Men  12 Angry Men       0      1957

      endYear runtimeMinutes       genres
49210      \N             96  Crime,Drama  ,            tconst titleType         primaryTitle        originalTitle isAdult  \
253729  tt0264464     movie  Catch Me If You Can  Catch Me If You Can       0

       startYear endYear runtimeMinutes                 genres
253729      2002      \N            141  Biography,Crime,Drama  ,            tconst titleType   primaryTitle  originalTitle isAdult startYear  \
115359  tt0117951     movie  Trainspotting  Trainspotting       0      1996

       endYear runtimeMinutes genres
115359      \N             93  Drama  ,            tconst titleType primaryTitle originalTitle isAdult startYear  \
117635  tt0120338     movie      Titanic       Titanic       0      1997

       endYear runtimeMinutes         genres
117635      \N            194  Drama,Romance  ,             tconst titleType primaryTitle originalTitle isAdult startYear  \
2370888  tt2582802     movie     Whiplash      Whiplash       0      2014

        endYear runtimeMinutes       genres
2370888      \N            106  Drama,Music  ,             tconst titleType primaryTitle originalTitle isAdult startYear  \
1166292  tt1205489     movie  Gran Torino   Gran Torino       0      2008

        endYear runtimeMinutes genres
1166292      \N            116  Drama  ,            tconst titleType     primaryTitle    originalTitle isAdult  \
163975  tt0169547     movie  American Beauty  American Beauty       0

       startYear endYear runtimeMinutes genres
163975      1999      \N            122  Drama  ,             tconst titleType        primaryTitle       originalTitle isAdult  \
1242277  tt1285016     movie  The Social Network  The Social Network       0

        startYear endYear runtimeMinutes           genres
1242277      2010      \N            120  Biography,Drama  ,            tconst titleType   primaryTitle  originalTitle isAdult startYear  \
736080  tt0758758     movie  Into the Wild  Into the Wild       0      2007

       endYear runtimeMinutes                     genres
736080      \N            148  Adventure,Biography,Drama  ,            tconst titleType primaryTitle originalTitle isAdult startYear  \
133763  tt0137523     movie   Fight Club    Fight Club       0      1999

       endYear runtimeMinutes genres
133763      \N            139  Drama  ,            tconst titleType         primaryTitle        originalTitle isAdult  \
979433  tt1010048     movie  Slumdog Millionaire  Slumdog Millionaire       0

       startYear endYear runtimeMinutes         genres
979433      2008      \N            120  Drama,Romance  ,           tconst titleType    primaryTitle   originalTitle isAdult startYear  \
77164  tt0078788     movie  Apocalypse Now  Apocalypse Now       0      1979

      endYear runtimeMinutes     genres
77164      \N            147  Drama,War  ,           tconst titleType primaryTitle originalTitle isAdult startYear  \
84411  tt0086250     movie     Scarface      Scarface       0      1983

      endYear runtimeMinutes       genres
84411      \N            170  Crime,Drama  ,            tconst titleType        primaryTitle       originalTitle isAdult  \
117864  tt0120586     movie  American History X  American History X       0

       startYear endYear runtimeMinutes       genres
117864      1998      \N            119  Crime,Drama  ,           tconst titleType       primaryTitle      originalTitle isAdult  \
91059  tt0093058     movie  Full Metal Jacket  Full Metal Jacket       0

      startYear endYear runtimeMinutes     genres
91059      1987      \N            116  Drama,War  ,            tconst titleType primaryTitle originalTitle isAdult startYear  \
462247  tt0480249     movie  I Am Legend   I Am Legend       0      2007

       endYear runtimeMinutes               genres
462247      \N            101  Drama,Horror,Sci-Fi  ,            tconst titleType     primaryTitle           originalTitle isAdult  \
440067  tt0457430     movie  Pan's Labyrinth  El laberinto del fauno       0

       startYear endYear runtimeMinutes             genres
440067      2006      \N            118  Drama,Fantasy,War  ,            tconst titleType              primaryTitle  \
108783  tt0111161     movie  The Shawshank Redemption

                   originalTitle isAdult startYear endYear runtimeMinutes  \
108783  The Shawshank Redemption       0      1994      \N            142

       genres
108783  Drama  ,             tconst titleType              primaryTitle  \
2186651  tt2278388     movie  The Grand Budapest Hotel

                    originalTitle isAdult startYear endYear runtimeMinutes  \
2186651  The Grand Budapest Hotel       0      2014      \N             99

                         genres
2186651  Adventure,Comedy,Drama  ,            tconst titleType primaryTitle originalTitle isAdult startYear  \
166800  tt0172495     movie    Gladiator     Gladiator       0      2000

       endYear runtimeMinutes                  genres
166800      \N            155  Action,Adventure,Drama  ,            tconst titleType     primaryTitle    originalTitle isAdult  \
450921  tt0468569     movie  The Dark Knight  The Dark Knight       0

       startYear endYear runtimeMinutes              genres
450921      2008      \N            152  Action,Crime,Drama  ,            tconst titleType  primaryTitle originalTitle isAdult startYear  \
236616  tt0246578     movie  Donnie Darko  Donnie Darko       0      2001

       endYear runtimeMinutes                 genres
236616      \N            113  Drama,Sci-Fi,Thriller  ,            tconst titleType  primaryTitle originalTitle isAdult startYear  \
464499  tt0482571     movie  The Prestige  The Prestige       0      2006

       endYear runtimeMinutes                genres
464499      \N            130  Drama,Mystery,Sci-Fi  ,           tconst titleType primaryTitle originalTitle isAdult startYear  \
79795  tt0081505     movie  The Shining   The Shining       0      1980

      endYear runtimeMinutes        genres
79795      \N            146  Drama,Horror  ,            tconst titleType primaryTitle   originalTitle isAdult startYear  \
304261  tt0317248     movie  City of God  Cidade de Deus       0      2002

       endYear runtimeMinutes       genres
304261      \N            130  Crime,Drama  ,            tconst titleType                           primaryTitle  \
324442  tt0338013     movie  Eternal Sunshine of the Spotless Mind

                                originalTitle isAdult startYear endYear  \
324442  Eternal Sunshine of the Spotless Mind       0      2004      \N

       runtimeMinutes                genres
324442            108  Drama,Romance,Sci-Fi  ]
['The Lion King']
['Django Unchained']
['Black Swan']
['Forrest Gump']
['Pulp Fiction']
['The Intouchables']
['Goodfellas']
['Million Dollar Baby']
['The Godfather: Part II']
['Saving Private Ryan']
['Good Will Hunting']
['The Curious Case of Benjamin Button']
['Gravity']
["One Flew Over the Cuckoo's Nest"]
['The Godfather']
['The Lord of the Rings: The Return of the King']
['Taxi Driver']
['A Beautiful Mind']
['The Sixth Sense']
['Requiem for a Dream']
['Drive']
['12 Angry Men']
['Catch Me If You Can']
['Trainspotting']
['Titanic']
['Whiplash']
['Gran Torino']
['American Beauty']
['The Social Network']
['Into the Wild']
['Fight Club']
['Slumdog Millionaire']
['Apocalypse Now']
['Scarface']
['American History X']
['Full Metal Jacket']
['I Am Legend']
["Pan's Labyrinth"]
['The Shawshank Redemption']
['The Grand Budapest Hotel']
['Gladiator']
['The Dark Knight']
['Donnie Darko']
['The Prestige']
['The Shining']
['City of God']
['Eternal Sunshine of the Spotless Mind']

In [16]:
from tkinter import *
root = tk.Tk()

v = tk.IntVar()
v.set(1)  # initializing the choice, i.e. Python

root.geometry("750x600+200+50")
# Criando a barra de rolagem



def fechar():
    root.destroy()
    
    

def ShowChoice():
    tk.Label(root, 
         text="""Obrigado pela escolha, clique em prosseguir!""",
         justify = tk.LEFT,
         padx = 20).pack()
    

tk.Label(root, 
         text="""Destes filmes, escolha um que você assistiu e gostou:""",
         justify = tk.LEFT,
         padx = 20).pack()

j = 0
while j < len(vetorNomes) and j < 21:
    tk.Radiobutton(root, 
                  text=vetorNomes[j]['primaryTitle'].values,
                  variable=v, 
                  command= ShowChoice, 
                  value=j).pack(anchor=tk.W)

    j = j+1
tk.Radiobutton(root, 
                  text="Não assisti nenhum destes",
                  variable=v, 
                  command= ShowChoice,
                  value=j).pack(anchor=tk.W)


tk.Button(root, text = "Prosseguir",justify = tk.LEFT,
         padx = 20, command = fechar).pack()

root.mainloop()
escolha = v.get()+1
str(escolha)
print(escolha)

4

In [17]:
from random import *

if escolha == (len(vetorNomes)+1):
    root = tk.Tk()

    
    def ShowChoice():
        tk.Label(root, 
         text="Por favor, assista ao filme: " + idF,
         justify = tk.LEFT,
         padx = 20).pack()
    
        
    
    def fechar():
        root.destroy()
    
    filmeSelecionado = randint(0, len(vetorNomes)-1)    # Pick a random number between 1 and 100.
    #print(filmeSelecionado)
    #print(vetorNomes[filmeSelecionado])
    idF = vetorNomes[filmeSelecionado]['primaryTitle'].values
    
    ShowChoice()
        
    tk.Button(root, text = "Fechar",justify = tk.LEFT,
         padx = 20, command = fechar).pack()

    root.mainloop()

In [18]:
#importando base 3
imdbDiretores=pandas.read_csv("titleCrew.tsv", sep='\t',dtype={
    "tconst": str, 
    'directors': str,
    'writers': str})


imdbDiretores.shape

(5419681, 3)

In [19]:
diretores = pandas.DataFrame(imdbDiretores, columns=['tconst', 'directors'])
#diretores.head(10)

In [20]:
tituloEscolhido = vetorNomes[escolha-1]['tconst'].values
#print(tituloEscolhido)

In [21]:
#acha os diretores
l=0
found = 0
while l<len(diretores) and found == 0:
    f = set(tituloEscolhido) & set(diretores['tconst'])
    fil = list(f)
    dir = diretores[diretores['tconst'] == fil[0]]['directors'].apply(lambda x: x.split(','))
    print(dir) 
    found=1
    l=l+1

107472    [nm0000709]
Name: directors, dtype: object

In [22]:
#importa 4 base
imdbPessoas = pandas.read_csv("nameBasics.tsv", sep='\t',dtype= { "nconst": str,
                                                                'primaryName': str,
                                                                'birthYear': str,
                                                                'deathYear': str,
                                                                'primaryProfession': str,
                                                                'knownForTitles': str})

imdbPessoas.shape

(8969885, 6)

In [23]:
pessoas = pandas.DataFrame(imdbPessoas, columns=['nconst', 'knownForTitles'])
#pessoas.head(10)

In [24]:
#pegando os filmes do diretor do filme escolhido
d1=dir.values[0][0]
tem2=0
if len(dir.values[0])>1:
    d2=dir.values[0][1]
    tem2=1
k=0
aux = pessoas.values[k][0]
found1=0
found2=0
vetorFilmes = []

while k<len(pessoas)and (found1==0 or found2==0):
    if aux == d1:
        fil1 = pessoas[pessoas['nconst'] == d1]['knownForTitles'].apply(lambda x: x.split(','))
        found1=1
        if tem2==0:
            found2=1
        print(fil1)
        q=0
        while q<len(fil1.values[0]):
            vetorFilmes.append(fil1.values[0][q])
            q=q+1
        
    elif tem2==1 and aux == d2:
        fil2 = pessoas[pessoas['nconst'] == d2]['knownForTitles'].apply(lambda x: x.split(','))
        found2=1
        print(fil2)
        q=0
        while q<len(fil2.values[0]):
            vetorFilmes.append(fil2.values[0][q])
            q=q+1
    k=k+1
    aux = pessoas.values[k][0];
print(vetorFilmes)

708    [tt1907668, tt0088763, tt0118884, tt0109830]
Name: knownForTitles, dtype: object
['tt1907668', 'tt0088763', 'tt0118884', 'tt0109830']

In [25]:
#importa 5 base
imdbAtores = pandas.read_csv("titlePrincipals.tsv", sep='\t',dtype= { "tconst": str,
                                                                'ordering': str,
                                                                'nconst': str,
                                                                'category': str,
                                                                'job': str,
                                                                'characters': str})

imdbAtores.shape

(30894304, 6)

In [26]:
at = pandas.DataFrame(imdbAtores, columns=['tconst', 'nconst', 'category'])
#at.head(10)

In [27]:
atores = at[at['category']=='actor']
#atores.head(10)

In [28]:
b=0
vetorAtores = []
qtd=0
ff = set(tituloEscolhido) & set(atores['tconst'])
ffil = list(ff)
while b<len(atores) and qtd == 0:
    z=0
    while z<len(ffil): 
        atr = atores[atores['tconst'] == ffil[z]]['nconst']
        qtd=1
        print(atr)
        z=z+1
  
    b=b+1

933356    nm0000158
933358    nm0000641
Name: nconst, dtype: object

In [29]:
print(atr.values[1])

nm0000641

In [30]:
#pegando os filmes dos atores do filme escolhido
d1=atr.values[0]
tem2=0
if len(atr)>1:
    d2=atr.values[1]
    tem2=1
k=0
aux = pessoas.values[k][0]
found1=0
found2=0
while k<len(pessoas)and (found1==0 or found2==0):
    if aux == d1:
        fil1 = pessoas[pessoas['nconst'] == d1]['knownForTitles'].apply(lambda x: x.split(','))
        found1=1
        if tem2==0:
            found2=1
        print(fil1)
        q=0
        while q<len(fil1.values[0]):
            vetorFilmes.append(fil1.values[0][q])
            q=q+1
        
    elif tem2==1 and aux == d2:
        fil2 = pessoas[pessoas['nconst'] == d2]['knownForTitles'].apply(lambda x: x.split(','))
        found2=1
        print(fil2)
        q=0
        while q<len(fil2.values[0]):
            vetorFilmes.append(fil2.values[0][q])
            q=q+1
    k=k+1
    aux = pessoas.values[k][0];
print(vetorFilmes)

157    [tt0162222, tt0094737, tt0109830, tt0120815]
Name: knownForTitles, dtype: object
640    [tt0105046, tt0117438, tt0112384, tt0109830]
Name: knownForTitles, dtype: object
['tt1907668', 'tt0088763', 'tt0118884', 'tt0109830', 'tt0162222', 'tt0094737', 'tt0109830', 'tt0120815', 'tt0105046', 'tt0117438', 'tt0112384', 'tt0109830']

In [31]:
teste = set(coluna) & set(vetorFilmes)
teste
for x in teste:
    print(filmes[filmes['tconst'] == x]['genres'])

86857    Adventure,Comedy,Sci-Fi
Name: genres, dtype: object
107472    Drama,Romance
Name: genres, dtype: object
118047    Drama,War
Name: genres, dtype: object

In [32]:
#remove o titulo escolhido
my_list = list(teste)
for x in my_list:
    if tituloEscolhido == x:
        my_list.remove(tituloEscolhido);

In [33]:
my_list

['tt0088763', 'tt0120815']

In [34]:
print(len(my_list))
from random import *
 
filmeSelecionado = randint(0, len(my_list)-1)    # Pick a random number between 1 and 100.
print(filmeSelecionado)

print('Codigo do filme selecionado: ')
cod = my_list[filmeSelecionado];
print(cod)

2
1
Codigo do filme selecionado:
tt0120815

In [35]:
nFilme = filmes[filmes['tconst'] == cod]['primaryTitle'].values

In [36]:
root = tk.Tk()

def ShowChoice():
    tk.Label(root, 
         text="Por favor, assista ao filme: " + nFilme,
         justify = tk.LEFT,
         padx = 20).pack()
    
        
    
def fechar():
    root.destroy()
    
    
ShowChoice()
        
tk.Button(root, text = "Fechar",justify = tk.LEFT,
         padx = 20, command = fechar).pack()

root.mainloop()